* {
    margin: 0;
    padding: 0;
}

.box_container {
    display: grid;
    gap: 5px;

    .box_1,
    .box_3,
    .box_5 {
        height: 30px;
    }

    .box_2,
    .box_4 {
        height: 150px;
        display: grid;
        grid-template-columns: repeat(4, 2fr);
        gap: 10px;

        .tiny_box {
            background-color: rgb(76, 154, 87);
            height: 100%;

            .tiny_box_4 {
                display: grid;
                grid-template-columns: 1fr 2fr;
                gap: 10px;
                height: 150px;
                background-color: white;

                .box_green {
                    display: grid;
                    grid-template-rows: repeat(4, 2fr);
                    gap: 10px;

                    .box {
                        background-color: green;
                    }

                    align-items:center;
                }

                .box_gray {
                    display: grid;
                    grid-template-rows: repeat(4, 2fr);
                    gap: 10px;

                    .box {
                        background-color: rgb(108, 126, 108);
                    }
                }

            }

        }
    }

    .box_1 {
        background-color: rgb(0, 21, 255);
    }

    .box_3 {
        background-color: purple;
    }

    .box_4 {
        .tiny_box {
            background-color: rgb(232, 190, 146);
        }
    }

    .box_5 {
        background-color: rgb(111, 88, 111);
    }


}